<h3>Legislator Lookup</h3>

<form>
  <div class="form-group">
    <label for="zip">Zip Code</label>
    {{input value=zip id="zip"}}
  </div>

  <a class="waves-effect waves-light btn btn-primary" {{action 'zipLookup'}}>Submit</a>
</form>
