@import 'materialize';
@import 'ember-cli-materialize';

.container {
  width: 80%;
}
#zi
p {
  width: 200px;
}

.parties {
  text-align: center;
}

.party-card-title {
  .collapsible-body {
    text-align: left;
    background-color: papayawhip;
  }
  .collapsible-header {
    background-color: pink;
  }
}

.star {
  float: right;
}
